//font-family: 'Titillium Web', sans-serif;
//font-family: 'Sarabun', sans-serif;
//rgb(62, 237, 228)
//darkslateblue

body {
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Sarabun', sans-serif;
}