@mixin base-btn {
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5 ease-in-out;
    background-color: darkslateblue;
    color: $offwhite;
    
    
    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgb(62, 237, 228);
        color: black;
    }
}

@mixin input-element {
    input {
        font-family: "Titillium Web", sans-serif;
        color: black;
        padding: 5px 0px;
        width: 100%;
        border-width: 0px;
        border-bottom: 1.75px solid black;
        background-color: transparent;
        transition: 0.5s all ease-in-out;
        font-size: 1.1em;
        margin-bottom: 21px;

        &:focus {
            outline: none;
            border-bottom: 1.5px solid rgb(14, 14, 14);
            background-color: darkslateblue;
            color: $offwhite;
        }
    }
}

@mixin textarea {
    input {
        &:focus {
            background-color: darkslateblue;
            color: $offwhite;
        }
    }
}

@mixin base-grid() {
    display: grid;
    gap: 21px;
}